<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- this navbar is come from components -->
     <!-- beware of using - except = (= is not allow to render html or other code) -->
    <%- include('./components/navbar.ejs') %>

    <% if(blogs.length){ %> <% blogs.forEach(blog=> { %>
    <h1><%= blog.title %></h1>
    <p><%= blog.into %></p>
    <% }); %> <%} %>
  </body>
</html>
